/*
    Basics of using SASS (sassy css):

    https://sass-lang.com/guide

/*

@import 'reset'
@import 'fonts'

/*  VARIABLES */
// colors

$darkblue: #262E41
$lightblue: #62869C
$grey: #E7E7E7
$yellow: #F4DA98
$pink: #F3AC96

//general styles
body
  font: 16px 'Inter UI'
  font-style: normal


a
  color: pink

  text-decoration: none

.gbackground
  background-color: $grey

header
  background: linear-gradient(180deg, #262E41 40%, #F3AC96 97.79%)
  height: 100%
  .logo
    width: 50%
    display: none
  .toggler
  nav
    text-align: right
    padding-right: 5%
    padding-left: 5%

    .minilogo
      display: block
      margin-left: 5%
      margin-top: 5%
      width: 10%
      padding-left: 0px
      margin-bottom: 25%

    a
      font-size: 1rem
      h3
        font-weight: bold
        color: white
        font-size: 1.4rem
      p
        font-weight: normal
        padding-bottom: 15%
        color: white

    .someicon
      height: 1rem
      padding: 10px
      margin-left: 10px
      margin-top: 50px




.video
  width: 320px
  height: 240px
  background-color: $yellow
