/*
    Basics of using SASS (sassy css):

    https://sass-lang.com/guide

/*

@import 'reset'
@import 'fonts'

/*  VARIABLES */
// colors

$darkblue: #262E41
$lightblue: #62869C
$grey: #E7E7E7
$yellow: #F4DA98
$pink: #F3AC96

//general styles
body
  font: 16px 'Inter UI'
  font-style: normal
  font-size: 1em

a
  color: black
  text-decoration: none

.gbackground
  background-color: $grey

header
  background: linear-gradient(180deg, #262E41 40%, #F3AC96 97.79%)
  height: 100vh

  .logo
    width: 50%
  .toggler

  nav
    text-align: right
    padding-right: 5%



    h3
      font-size: 32px
      font-weight: bold
      color: white
    p
      font-size: 16px
      font-weight: normal
      padding-bottom: 10%
      color: white
