/*
    Basics of using SASS (sassy css):

    https://sass-lang.com/guide

/*

@import 'reset'
@import 'fonts'

/*  VARIABLES */
// colors

$darkblue: #262E41
$lightblue: #62869C
$grey: #E7E7E7
$yellow: #F4DA98
$pink: #F3AC96

//font
body
  font: 16px 'Inter UI'
  font-style: normal
  font-size: 1em

.gbackground
  background-color: $grey
